.selectorBar {
  display: flex;
  gap: 1em;
  padding: 0 4em;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-height: fit-content;
}

.logoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: .6em;
  padding-top: 2.5em;
  margin-bottom: 1em;
}

.logoSection p {
  font-weight: 600;
  font-size: 1.2em;
}

.dataSection {
  background-color: #f7f5f5;
  display: flex;
  gap: 1.6em;
  justify-content: space-between;
  padding: 0 4em;
  width: 100%;
  margin: 0 auto;
}



@media(max-width: 800px) {
  .selectorBar {
    display: flex;
    align-items: center;
    padding: 0;
    flex-direction: column;

    width: 100%;
    gap: 1em
  }

  .dataSection {
    flex-direction: column;
    padding: 2em;
    width: 100%;
    margin: 0 auto;
  }
}