.loginContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginCard {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;

  height: fit-content;
  width: 30em;

  padding: 2em 0;
  gap: 2.5em;

  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 1px 2px 6px -2px rgba(0, 0, 0, 0.6);
}

.loginCard span {
  color: #1BC5BD;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .6em;
  padding-top: 2em;
}

.description a {
  text-decoration: none;
  color: dodgerblue;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 60%;
}

.inputContainer input {
  height: 2.5em;
  padding: .4em;

  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: .5px 1px 3px -2px rgba(0, 0, 0, 0.6);
}

.inputContainer button {
  height: 2.5em;
  padding: .4em;

  outline: none;
  border: none;
  border-radius: 5px;

  background-color: #1BC5BD;
  box-shadow: .5px 1px 3px -2px rgba(0, 0, 0, 0.6);

  font-weight: 600;
  color: #fff;

  cursor: pointer;
  transition: .4s;
}

.inputContainer button:hover {
  background-color: rgb(27, 197, 189, .1);
  color: #1BC5BD;
}