.teamPlayersTable {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}


.teamPlayersTable thead th {
  background-color: #1e90ff;
  padding: 1em;
  border: 0.5px solid white;
  color: white;
  text-align: center;
}

.teamPlayersTable tr:nth-child(even) {
  background-color: rgb(30, 144, 255, .05);

}

.teamPlayersTable tr {
  text-align: center;

}

.teamPlayersTable tr td {
  border: 0.2px solid #a7a7a7;
  padding: .4em;
}